
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
}

#content {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-form {
    width: 300px;
}

h2 {
    color: #333;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.submitButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 1em 1em;
    font-size: medium;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

.redirectButton {
    background-color: #0071ce;
    color: white;
    border: none;
    padding: 1em 1em;
    margin-left: 120px;
    font-size: medium;
    border-radius: 10px;
    cursor: pointer;
    width: 10%;
}

.submit-btn:hover {
    background-color: #45a049;
}

table {
    border-collapse: collapse;
    font-family: Arial;
}
td {
    padding: 15px;
    text-align: left;
    border: 1px solid #000000;
}
th {
    padding: 15px;
    text-align: left;
    border: 1px solid #000000;
    background-color: #f4f4f4;
    font-weight: bold;
}